<div class="footer-container">
    <div class="footer-text">
        <h1>Startap 3</h1>
        <div class="footer-box">
            <p>Privacy Policy</p>
            <p>Terms</p>
            <div class="socials">
                <img src="assets/twitter.svg" alt="twitter">
                <img src="assets/facebook.svg" alt="facebook">
                <img src="assets/google.svg" alt="google+">                
            </div>


        </div>
    </div>

    <div class="liner">
        
    </div>

    <div class="footer-text">
        <div class="footer-box">
            <p>Tour</p>
            <p>Features</p>
            <p>Pricing Plans</p>
            <p>Our Works</p>
            <p>Brands</p>
            <p>Contacts</p>
        </div>

        <div class="c-text">
            <p>© 2017 Designmodo. All rights reserved.</p>
        </div>
    </div>
</div>