<div class="form-container">
    <img src="assets/form.svg" alt="">

    <div class="form-container__inner">
         
        <div class="title">
            <h1>We solve digital problems with an outstanding creative flare</h1>
            <p>We have created a new product that will help designers, developers and companies create websites for their startups quickly and easily.</p>
        </div>


        <div class="signUp-form">

            <div class="SignUp-header">
                <div>
                    <a>Sign Up</a>
                
                </div>

                <div>
                    <a >Log In</a>                    
                </div>
                
            </div>


            <div>
                <input type="text" placeholder="Your email">
            </div>
           
            <div><input type="password" placeholder="Your password"></div>

            <div>
                <button class="btn-crt">Create an Account</button>
            </div>

            <div>
                <p>or</p>
            </div>

            <div>
                 <button class="btn-twt">Login via Twitter</button>
            </div>
           
        </div>
    </div>
</div>