<div class="testimonial-container">
    <div class="testimonial-container__title">
        <h1>Our Happy Clients</h1>
    </div>

    <div class="testimotial-clients__container">
        <div class="client-info">
            <div class="client-photo">
                <img src="assets/rayhan.svg" alt="">
            </div>
            <div class="text-container">
                <div class="coments">
                    <p>Get a fully retina ready site when you build with Startup Framework. Websites look sharper and more gorgeous on devices with retina display support</p>
                </div>
                <div class="fullname">
                    <p>Rayhan Curran</p>
                </div>
            </div>
        </div>

        <div class="client-info">
            <div class="client-photo">
                <img src="assets/kayley.svg" alt="">
            </div>
            <div class="text-container">
                <div class="coments">
                    <p>As a business targeting high net worth individuals, we were looking for a slick, cool and mini-malistic design for our website</p>
                </div>
                <div class="fullname">
                    <p>Kayley Frame</p>
                </div>
            </div>
        </div>

        <div class="client-info">
            <div class="client-photo">
                <img src="assets/gene.svg" alt="">
            </div>
            <div class="text-container">
                <div class="coments">
                    <p>The most important part of the Startup Framework is the samples</p>
                </div>
                <div class="fullname">
                    <p>Gene Whitfield</p>
                </div>
            </div>
        </div>

        <div class="client-info">
            <div class="client-photo">
                <img src="assets/allan.svg" alt="">
            </div>
            <div class="text-container">
                <div class="coments">
                    <p>I’ve built my website with Startup just in one day, and it was ready-to-go. </p>
                </div>
                <div class="fullname">
                    <p>Allan Kim</p>
                </div>
            </div>
        </div>




    </div>
</div>
