<app-landing-page id="home"></app-landing-page>
<app-content-page></app-content-page>
<div id="features">
    <app-feature-page></app-feature-page>
</div>
<app-form-page></app-form-page>
<app-testimonial-page id="blog"></app-testimonial-page>
<app-call-to-action-page></app-call-to-action-page>
<app-show-case-page></app-show-case-page>
<app-team-page id="team"></app-team-page>
<app-contact-page id="contact"></app-contact-page>
<app-pricing-table-page id="pricing"></app-pricing-table-page>
<app-footer-page></app-footer-page>
