<div class="team-container">
    <div class="team-title">
        <h1>Startup Crew</h1>
        <h3>The most important part of the Startup Framework is the samples. The samples form a set of 25 usable pages you can use as is or you can add new blocks from UI Kit.</h3>
    </div>


    <div class="team-container__inner">
        <div class="team-member__info">
            <div class="member-photo">
                <img src="assets/leahsalomon.svg" alt="leahsalmon">
            </div>

            <div class="member-txt">
                <h3>Leah Salomon</h3>
                <p>UI Designer</p>
            </div>

            <div class="member-social">
                <a href="#"><img src="assets/twitter.svg" alt=""></a>
                <a href="#"><img src="assets/facebook.svg" alt=""></a>
                <a href="#"><img src="assets/dribbble.svg" alt=""></a>
                <a href="#"><img src="assets/instagram.svg" alt=""></a>
            </div>
        </div>


        <div class="team-member__info">
            <div class="member-photo">
                <img src="assets/colintimons.svg" alt="leahsalmon">
            </div>

            <div class="member-txt">
                <h3>Colin Timmons</h3>
                <p>UI Designer</p>
            </div>

            <div class="member-social">
                <a href="#"><img src="assets/twitter.svg" alt=""></a>
                <a href="#"><img src="assets/dribbble.svg" alt=""></a>
            </div>
        </div>


        <div class="team-member__info">
            <div class="member-photo">
                <img src="assets/miguelosborne.svg" alt="miguelosborne">
            </div>

            <div class="member-txt">
                <h3>Miguel Osborne</h3>
                <p>Front-end Developer</p>
            </div>

            <div class="member-social">
                <a href="#"><img src="assets/skype.svg" alt=""></a>
                <a href="#"><img src="assets/medium.svg" alt=""></a>
                <a href="#"><img src="assets/git.svg" alt=""></a>
                
            </div>
        </div>


        <div class="team-member__info">
            <div class="member-photo">
                <img src="assets/teylorsimon.svg" alt="teylorsimon">
            </div>

            <div class="member-txt">
                <h3>Taylor Simon</h3>
                <p>Product Manager</p>
            </div>

            <div class="member-social">
                <a href="#"><img src="assets/twitter.svg" alt=""></a>
                <a href="#"><img src="assets/instagram.svg" alt=""></a>
            </div>
        </div>


        <div class="team-member__info">
            <div class="member-photo">
                <img src="assets/stevenmac.svg" alt="leahsalmon">
            </div>

            <div class="member-txt">
                <h3>Steven MacAlister</h3>
                <p>Copyrighter</p>
            </div>

            <div class="member-social">
                <a href="#"><img src="assets/skype.svg" alt=""></a>
            </div>
        </div>







    </div>
</div>