<div class="main-container">
    <img src="assets/Image.svg" alt="">

    <div class="main-container__inner">

        <div class="header-menu">
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#features">Features</a></li>
                <li><a href="#pricing">Pricing</a></li>
                <li><a href="#blog">Blog</a></li>
                <li><a href="#team"><img src="assets/dribbble.svg" style="object-fit: none; position: relative; background-color: transparent;"></a></li>
                <li><a href="#contact"><img src="assets/be.svg" style="object-fit: none; position: relative; background-color: transparent;"></a></li>
            </ul>
        </div>



        <div class="text-container">
            <p class="text-container__header">Startap 3</p>

            <h1>Forget About Code</h1>

            <h4 >Startup Framework gives you complete freedom over your creative process — you don’t have to think about any technical aspects. There are no limits and absolutely no coding. </h4>
        </div>

        
        <div class="btn-container">
            <button>Create an Account</button>
        </div>
    </div>
</div>