

<div class="pricing-table__container">
    <!-- <img class="background" src="assets/pricing-table-background.svg"> -->
    <img src="assets/calltoaction.svg" alt="" class="background">
    <div class="pricing-table__inner">
        <div class="pricing-table_title">
            <h1>Plans & Pricing</h1>
            <h3>Startup Framework is free forever — you only pay for custom domain hosting or to export your site.</h3>
        </div>


        <div class="pricing-table__boxes">
            <div class="pricing-table__info">

                <div class="text">
                    <div class="title">
                        <h4>Starter</h4>
                    </div>

                    <div class="price">
                        <h1>9.99</h1>
                        <div class="valute">
                            $
                        </div>
                    </div>
                </div>

                <div class="features">
                    <ul>
                        <li class="with-img"><img class="check" src="assets/check.svg">2 GB of space</li>
                        <li class="with-img"><img src="assets/check.svg">14 days of backups</li>
                        <li class="with-img"><img src="assets/check.svg">Social integrations</li>
                        <li class="with-img"><img src="assets/check.svg">Remote access</li>
                        <li>Custom domain</li>
                        <li>24 hours support</li>
                        <li>Admin tools</li>
                        <li>Collaboration tools</li>
                        <li>User management</li>
                    </ul>


                </div>

                <div class="btn">
                    <button>Get Started</button>
                </div>

            </div>


            <div class="pricing-table__info">

                <div class="text">
                    <div class="title">
                        <h4>Starter</h4>
                    </div>

                    <div class="price">
                        <h1>9.99</h1>
                        <div class="valute">
                            $
                        </div>
                    </div>
                </div>

                <div class="features">
                    <ul>
                        <li class="with-img"><img src="assets/check.svg">2 GB of space</li>
                        <li class="with-img"><img src="assets/check.svg">14 days of backups</li>
                        <li class="with-img"><img src="assets/check.svg">Social integrations</li>
                        <li class="with-img"><img src="assets/check.svg">Remote access</li>
                        <li class="with-img"><img src="assets/check.svg">Custom domain</li>
                        <li class="with-img"><img src="assets/check.svg">24 hours support</li>
                        <li>Admin tools</li>
                        <li>Collaboration tools</li>
                        <li>User management</li>
                    </ul>


                </div>

                <div class="btn">
                    <button>Get Started</button>
                </div>

            </div>


            <div class="pricing-table__info">

                <div class="text">
                    <div class="title">
                        <h4>Starter</h4>
                    </div>

                    <div class="price">
                        <h1>9.99</h1>
                        <div class="valute">
                            $
                        </div>
                    </div>
                </div>

                <div class="features">
                    <ul>
                        <li class="with-img"><img src="assets/check.svg">2 GB of space</li>
                        <li class="with-img"><img src="assets/check.svg">14 days of backups</li>
                        <li class="with-img"><img src="assets/check.svg">Social integrations</li>
                        <li class="with-img"><img src="assets/check.svg">Remote access</li>
                        <li class="with-img"><img src="assets/check.svg">Custom domain</li>
                        <li class="with-img"><img src="assets/check.svg">24 hours support</li>
                        <li class="with-img"><img src="assets/check.svg">Admin tools</li>
                        <li class="with-img"><img src="assets/check.svg">Collaboration tools</li>
                        <li class="with-img"><img src="assets/check.svg">User management</li>
                    </ul>


                </div>

                <div class="btn">
                    <button>Get Started</button>
                </div>

            </div>



            



        </div>
    </div>
</div>