<div class="feature-container">
    <img class="backgroung" src="assets/features.svg" alt="featurebackground">

    <div class="feature-container__inner">
        <div class="flex">

            <div class="left">
                <div class="left-container">
                    <img class="MacBook" src="assets/MacBook.svg" alt="MacBook" >
                    <img class="Screen" src="assets/Screen.svg" alt="Screen">                    
                </div>

            </div>


            <div class="right">
                <div class="right-container">
                    <div class="title">
                        <h1>We Create Something New</h1>
                        <h5>We have created a new product that will help designers, developers and companies create websites for their startups quickly and easily.</h5>
                    </div>

                    <div class="features">
                        <div class="features-info">
                            <div class="feature-img">
                                <img src="assets/square.svg" alt="">
                            </div>

                            <div class="feature-one__title">
                                <h3>30 New feature pages</h3>
                            </div>

                            <div class="feature-one__description">
                                <h4>Startup Framework contains components and complex blocks which can easily. </h4>
                            </div>
                        </div>

                        <div class="features-info">
                            <div class="feature-img">
                                <img src="assets/briliant.svg" alt="">
                            </div>

                            <div class="feature-one__title">
                                <h3>Useful Symbol Components</h3>
                            </div>

                            <div class="feature-one__description">
                                <h4>Samples will show you the feeling on how to play around using the components. </h4>
                            </div>
                        </div>


                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>