<div class="show-case__container">
    <div class="show-case__header">
        <h1>Last works</h1>
        <div class="view">
            <p>View all Works</p>   
        </div>
    </div>

    <div class="show-case__grid">
        <div class="case-info">
            <div class="case-img">
                <img src="assets/mozart.svg" alt="mozart">
            </div>

            <div class="case-txt">
                <p>UI KIT</p>
                <h3>Mozart Project</h3>
            </div>
        </div>

        <div class="case-info">
            <div class="case-img">
                <img src="assets/framework.svg" alt="framework">
            </div>

            <div class="case-txt">
                <p>FRAMEWORK</p>
                <h3>Startup Framework 2.0</h3>
            </div>
        </div>

        <div class="case-info">
            <div class="case-img">
                <img src="assets/sky.svg" alt="sky">
            </div>

            <div class="case-txt">
                <p>PHOTOS</p>
                <h3>From the Sky</h3>
            </div>
        </div>

        <div class="case-info">
            <div class="case-img">
                <img src="assets/air.svg" alt="air">
            </div>

            <div class="case-txt">
                <p>PICTURES</p>
                <h3>Air Forces</h3>
            </div>
        </div>



    </div>
</div>