.conntact-container {
    width: 100vw;
    height: 770px;
    background-color: #2F1893;
    color: #FFFFFF;
    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #2F1893;
    z-index: 0; 
}

.conntact-container__inner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
    gap: 89px;
}


.contact-box{
    display: flex;
    flex-direction: column;
    gap: 53px;
}

.title{
    max-width: 410px;
    max-height: 208px;
    gap: 28px;
    display: flex;
    flex-direction: column;
}

.title p{
    max-width: 399px;
    max-height: 128px;
    text-align: left;
    font-size: 22px;
    font-weight: 500;
}


.contacts{
    width: 283.5px;
    height: 218px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    font-size: 16px;
    font-weight: 400;
}


/* contact-form */
.contact-form{
    width: 470px;
    height: 570px;
    background-color: #FFFFFF;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    justify-content: center;
}

.row-field{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.input-name{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

label{
    font-size: 14px;
    font-weight: bold;
    color: #1E0E62;
}

.input-name label{
    font-size: 14px;
    font-weight: bold;
    color: #1E0E62;
    width: 100px;
    height: 26px;

}

.input-name input{
    font-size: 18px;
    font-weight: 500px;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    padding-left: 12px;
    padding-right: 12px;
    border: 2px solid #EBEAED;
    color: #151439;

}


.choice-budget{
    display: flex;
    flex-direction: column;
    gap: 6px    ;
}

.choice-budget label{
    font-size: 14px;
    font-weight: bold;
    color: #1E0E62;
    width: 68px;
    height: 26px;

}



.choice-budget input{
    font-size: 18px;
    font-weight: 500px;
    color: #151439;

    border: 2px solid #EBEAED;
    width: 140px;
    height: 50px;
    border-radius: 50px;
    padding-left: 12px;
    padding-right: 12px;
}


.input-field{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.input-field label{
    width: 104px;
    height: 26px;
    font-size: 14px;

}

.input-field input{
    width: 370px;
    height: 50px;
    border-radius: 50px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 18px;
    font-weight: 500;
    color: #151439;
    opacity: 100%;
    border: 2px solid #EBEAED;

}


.input-message{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.input-message label{
    width: 131px;
    height: 26px;
}


.input-message textarea {
    width: 370px;
    height: 110px;
    padding: 13px 19px;
    font-size: 18px;
    font-weight: 500;
    border: 2px solid #EBEAED;
    border-radius: 10px;
    resize: none;
    color: #151439;

}

.check-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 99px;
}
.check-box{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.check-box input[type="checkbox"]{
    width: 20px;
    height: 20px;
    border-radius: 6px;
}
.check-box input[type="checkbox"]:checked {
    accent-color: #25DAC5; 
}


.check-box p {
    color: #151439;
    opacity: 40%;
    font-size: 16px;
    font-weight: 400;

}


.btn button{
    color: #FFFFFF;
    width: 120px;
    height: 50px;
    border-radius: 50px;
    background-color: #25DAC5;
    border: none;
    cursor: pointer;
}

.btn button:hover{
    background-color: #25dac5b0;
}
