<div class="conntact-container">

    <img class="background" src="assets/contact.svg" alt="">

    <div class="conntact-container__inner">
        <div class="contact-box">
            <div class="title">
                <h1>Let’s Keep in Touch</h1>
                <p>We have created a new product that will help designers, developers and companies create websites for their startups quickly and easily.</p>
            </div>
        
            <div class="contacts">
                <div class="phone">
                    <img src="assets/phone.svg" alt="">
                    +1 555 505 5050
                </div>
    
                <div class="email">
                    <img src="assets/email.svg" alt="">
                    info&#64;designmodo.com
                </div>
    
                <div class="address">
                    <img src="assets/building.svg" alt="">
                    San Francisco, CA560 Bush St & 20th Ave, Apt5 San Francisco, 230909
                </div>
            </div>
        </div>
    
        <div class="contact-form">
            
            <div class="row-field">
                <div class="input-name">
                    <label>YOUR NAME</label>
                    <input type="text" placeholder="First name">
                </div>

                <div class="choice-budget">
                    <label>BUDGET</label>
                    <input type="text">
                </div>
            </div>

            <div class="input-field">
                <label>INPUT FIELD</label>
                <input type="text" placeholder="name@mail.com">
            </div>


            <div class="input-message">
                <label>YOUR MESAGE</label>

                <textarea id="message" placeholder="Message" rows="4" cols="50"></textarea>
            </div>

            <div class="check-btn">
                <div class="check-box">
                    <input type="checkbox">
                    <p>Send me a copy</p>
                </div>

                <div class="btn">
                    <button>Send</button>
                </div>
            </div>

        </div>
    </div>
   
</div>